<%= hidden_field :name=>"date_viewed", :value=>DateTime.now %>
<div>
  <div class="span-11 inappropriate_box">
    <div class="inappropriate_text">
      <h1 id="inappropriate_text_content"><%= Submission.random.first.content %></h1>
    </div> 
    <%= form_for :submission, :action => url(:submissions, :format=>:json), :id=>"submit_text_form" do %>
    <div class="span-6 enter_text">
	    <input type="text" watermark="{html:'Enter inappropriateness here',cls:'input-watermarked'}" class="span-6 title full_height" name="submission[content]" value="" id="submit_text_content"/>
	  </div>
    <div class="span-4 last">
       <a name="submit_text" id="submit_text" class="nickers_button submit_button" value="submit" ></a>
	     <a name="next_text" id="next_text" class="nickers_button next_button"  value="view_next" ></a>
	  </div>
	  <% end =%>
  </div>
  <div class="span-10 last rsvp">
    
      <div>
      So <%= session.user.invites.map(&:name).join(" & ") %>,<br/>
      Will you be attending Nickers' inappropriate 30th?<br/>
      (You can always change your mind later)
      </div>
     
      <% @invites.each do |invite| %>
       <div class="span-10 " >
        <%= form_for invite, :action => url(:invite,  invite, :format=>:json), :id=>"respond_form_#{invite.id}" do %>
          <div class="span-2" style="padding-left: 0px" >
            <%= invite.name %>:
          </div>
          <div class="span-1"  style="padding-top:0px;padding-left: 0px">
            <a name="respond_yes" form_id="#respond_form_<%=invite.id%>" class="nickers_button yes_button yes_no_button <%= yes_class(invite) %>" value="submit" ></a>
          </div>
          <div class="span-1"  style="padding-top:0px;">      
            <a name="respond_no"  form_id="#respond_form_<%=invite.id%>" class="nickers_button no_button yes_no_button <%= no_class(invite) %>" value="submit" ></a>
 	    <%= hidden_field :accepted_at %>
            <%= hidden_field :declined_at %>
            <%= hidden_field :accepted %>
          
          </div>
          <div class="span-2 last" style="padding-top:1px;">     
            <% if invite == @invites.last %>
            <a name="submit_response" id="submit_response" class="nickers_button submit_button" value="submit" ></a>
	          <% end %>
          </div>      


          
        <% end =%>
        
        </div>
      <% end %>
    
   
  </div>
</div>
<div class="span-21 last middle">
  <div class="span-11 youtube_frame">
 
  <div id="youtube_div" class="youtube_div">
     <%= UnvlogIt.new(Submission.random(:type=>:video).first.content).embed_html(308, 250) %>
  </div>
    <%= form_for :submission, :action => url(:submissions, :format=>:json), :id=>"submit_youtube_form" do %>
    <div class="span-6 enter_text">
	    <input type="text" watermark="{html:'Enter inappropriateness here',cls:'input-watermarked'}" class="span-6 title full_height" name="submission[content]" value="" id="youtube_content"/>
	    <%= hidden_field :name=>"submission[type]", :value=>:video %>
	  </div>
    <div class="span-4 last" >
      <a name="submit_youtube" id="submit_youtube" class="nickers_button submit_button" value="submit" ></a>
      <a name="next_youtube" id="next_youtube" class="nickers_button next_button"  value="view_next" ></a>
    </div>
    <% end =%>
  </div>
  <div class="span-10 last image_frame"><img src="images/title.gif" ></div>
 
</div>
<div  class="footer span-21 last"><img src="images/main_bottom_img.gif"></div>

 <% jquery do %>
   $(document).ready(function() { 
    $("#submit_response").click(function(){
      alert("THANKS!");
    });
    $('#next_text').click(function(){
      $.getJSON("/random_submission",
        function(data){
          $('#inappropriate_text_content').html(data.formatted_content);
        }
      )
    });
    $('#next_youtube').click(function(){
      $.getJSON("/random_submission?type=video",
        function(data){
          $('#youtube_div').html(data.formatted_content);
        }
      )
    });
    
    $('#submit_youtube').click(function(){
      $('#submit_youtube_form').ajaxSubmit(
      {
        dataType: 'json',
        success:    function(data) { 
          text_content = $('#youtube_content')
          text_content[0].value='';
          text_content.trigger('blur');
          if (data.error){
            alert(data.error[0])
          }
          else{
            alert("Thanks for your dirty video!")
          }
        }
      }
      );
    });
    
    $('#submit_text').click(function(){
      $('#submit_text_form').ajaxSubmit(
      {
        dataType: 'json',
        success:    function(data) { 
          text_content = $('#submit_text_content')
          text_content[0].value='';
          text_content.trigger('blur');
          if (data.error){
            alert(data.error[0])
          }
          else{
             alert("Thanks for your filthy thoughts!")
          }
        }
      }
      );
    });
    
    function respond_to_invite(is_coming, form){
      accepted = $('input[name="invite[accepted_at]"]:hidden', form)[0];
      declined = $('input[name="invite[declined_at]"]:hidden', form)[0];
      accepted_status = $('input[name="invite[accepted]"]:hidden', form)[0];
      responded_time = $('input[name="date_viewed"]:hidden')[0].value
      if (is_coming) {
        accepted.value = responded_time;
        declined.value = ''
        accepted_status.value = 'true';
      }else{
        accepted.value = ''
        declined.value = responded_time;
        accepted_status.value = 'false';
      }
      form.ajaxSubmit(
      { 
        dataType:    'json',
        success:    function(data) { 
                
          if (data.accepted){
            selected_button = $('a[name="respond_yes"]',form)
            non_selected_button = $('a[name="respond_no"]',form)
          }else{
            selected_button = $('a[name="respond_no"]',form)
            non_selected_button = $('a[name="respond_yes"]',form)
          }
          selected_button.addClass("selected");
          non_selected_button.removeClass("selected");
        }
      } 
      );
    }
    $('[name="respond_yes"]').bind("click", function(e){
      respond_to_invite(true, $(this.attributes["form_id"].value));
    });
    $('[name="respond_no"]').bind("click", function(e){
      respond_to_invite(false,  $(this.attributes["form_id"].value));
    });
    

    

  }); 
 <% end %>
